div#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  min-width: 800px;
  margin: 0 auto;
  padding: 24px;
  background-color: #fff;
  border-radius: 24px 0 0 0;
  box-sizing: border-box;
  box-shadow: 10px 12px 9px 5px rgba(0, 0, 0, 0.2);
}
#header {
  width: 100%;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  padding: 24px 0;
  border: 3px solid #fdc3bc;
  background-color: #ffcec8;
  color: #fff;
}
.title span {
  font-size: 18px;
  font-weight: 400;
}

form#inputArea {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-end;
  margin-top: 24px;
  border: 2px solid #fdc3bc;
}

.inputBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputBox + .inputBox {
  border-left: 2px solid #fdc3bc;
}
label {
  width: 100%;
  text-align: center;
  padding: 4px 0;
  font-weight: 700;
  border-bottom: 2px solid #fdc3bc;
}
input {
  outline: none;
  height: auto;
  width: 100%;
  line-height: 24px;
  padding: 8px 12px;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.input[type="text"] {
  -webkit-ime-mode: active;
  -moz-ime-mode: active;
  -ms-ime-mode: active;
  ime-mode: active;
}

.buttonArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  border-left: 2px solid #fdc3bc;
}
.buttonArea button {
  width: 100%;
  height: 40px;
  line-height: 24px;
  padding: 8px 12px;
  background-color: #ffcec8;
  border: 0;
  border-radius: 0;
  color: #fff;
  box-sizing: border-box;
  transition: 0.3s;
}

.buttonArea button:hover {
  border: 0;
  background-color: #fdc3bc;
}

div#content {
  width: 100%;
}
div#content p {
  padding: 16px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

div#content select {
  width: 120px;
  height: 40px;
  line-height: 40px;
  padding: 0 8px;
  margin: 24px 0;
  border-color: #fdc3bc;
}

div#content table {
  width: 100%;
  text-align: center;
  border: 2px solid #fdc3bc;
  border-spacing: 0;
}

div#content table thead th {
  padding: 8px 0;
  border-bottom: 1px solid #fdc3bc;
}
div#content table tbody {
  color: #000;
}
div#content table tbody td {
  padding: 0;
}
div#content table tbody tr + tr td {
  border-top: 1px solid #fdc3bc;
}
div#content table tbody td button {
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 12px 0;
  border: 0;
}
